
body {
      font-family: 'Noto Sans KR', sans-serif;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      width: 100%;
    }

.description {
  padding: 20px 25px;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 30pt;
  padding: 20px;
}

input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
  height: 35px;
  padding: 10px;
}

input[type=text]:focus {
  border: 3px solid blue;
}

input[type=submit] {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  padding: 16px 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

p {
  padding: 10px;
}

button {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  padding: 25px 25px;
  text-decoration: none;
  margin: 5px 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* desktop */

@media ( min-width: 768px ) {
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  width: 50%;
  padding: 20px;
}

.description {
  padding: 20px 40px;
}

}

/* page specific css */

.main {
  border: 20px solid black;
}

.main-q1 {
    border: 20px solid #52FF33;
}

.main-q2 {
    border: 20px solid blue;
}

.main-q3 {
    border: 20px solid #942525;
}

.main-q4 {
    border: 20px solid #7b47bf;
}

.main-q6 {
    border: 20px solid #25e8ea;
}

.main-q7 {
    border: 20px solid #bde550;
}

.main-q8 {
    border: 20px solid yellow;
}

.main-q9 {
    border: 20px solid #a4d4ff;
}

.main-q9 {
    border: 20px solid #ffa07a;
}